# 这是一个配置模板
# 一定要加上自己的配置！！！
# 也可以将此模板复制，将后缀 .template去掉，然后修改成你自己的配置
# 开发环境
spring:
  datasource:
    username: ${work-board.mysql-cfg.user}
    password: ${work-board.mysql-cfg.psd}
    url: jdbc:mysql://${work-board.mysql-cfg.db-ip}:${work-board.mysql-cfg.port}/${work-board.mysql-cfg.db-name}?characterEncoding=UTF-8&serverTimezone=GMT%2B8
    druid:
      max-wait: 5000
      max-active: 50
      min-idle: 5
      initial-size: 10

  # redis配置
  redis:
    # 主机
    host: ${work-board.redis-cfg.host}
    port: ${work-board.redis-cfg.port}
    password: ${work-board.redis-cfg.psd}
    # 数据库索引REDIS_DB
    database: ${REDIS_DB:0}
    # 连接超时时间
    timeout: 5000
    # Redis连接池配置
    lettuce:
      pool:
        max-idle: 10
        max-active: 10
        min-idle: 10
  web:
    resources:
      static-locations:
      # 静态资源映射位置
server:
  port: 8888

# 日志输出等级
logging:
  level:
    run.hxtia.workbd: debug

# 自定义配置项
work-board:
  cfg:
    # 跨域相关配置
    cors-origins:
      - http://localhost:8080
      - 课继续像上面一样配置跨域

  # 文件上传路径【可以修改路径，不要修改前面的key】
  upload:
    base-path: /home/work-board/
    upload-path: upload/
    image-path: image/
    video-path: video/

  # Mysql 数据库相关信息
  mysql-cfg:
    user: 你的mysql用户
    psd: 你的mysql密码
    db-ip: 你的mysql服务器IP
    db-name: work_board_test【数据库名称】
    port: 3306【端口号】

  # Redis 数据库相关信息
  redis-cfg:
    host: 你的redis服务器IP
    psd: 你的redis密码
    port: 你的redis端口

  # 微信配置
  wx:
    app-id: 你的小程序appId
    secret: 你的小程序secret
    template-id: 消息订阅的模板
    msgDataFormat: JSON

